body{
    background:#e2e2e2;
}
/* h2{
    font-size: 5vmin;
    text-align: center;
    justify-self: center;
    color: rgb(255, 255, 255);
    padding-left: 3%;
    padding-right: 3%;
} */
.container-md{
    background: #fff;
    margin: 1em auto;
    padding: 2em;
}
.container-md>table{
    width: 40%;
}
html{
    min-width: 800px;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #0f5132!important;
}
.cart{
    color: #0f5132;
}
.users>button{
     text-align: center;
     background: #fff;
     margin: 2em auto;
     padding: 1em;
}
.userController{
    background:#9bacb4;
    padding: 2em;
    text-align: center;
    margin: 2em auto;
    margin-left: 20em;
    margin-right: 20em;
    border: 0;
    border-radius: 25em 25em;
}
table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 3em;
}
table th, table td {
    padding: 5px;
}

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translateY(-40%) scale(0);
    transition: .5s ease-in-out;
}

.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body{
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}

.pop_up_body input{
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 60px auto 0px auto;
    padding: 10px 0px;
    border-radius: 30px;
    background-color: #fff;
    font-size: large;
    border-color: #0f5132;
    font-weight: 500;
}

.pop_up.expired {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .75);
}

.container-md input[type="text"]{
    padding: 17px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: large;
    width: 230px;
}

.container-md input[type="submit"]{
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 60px auto 0px auto;
    padding: 10px 0px;
    border-radius: 30px;
    background-color: #fff;
    border-color: #0f5132;
    font-size: large;
    font-weight: 500;
}
.gif {
    background-image: url("../imgs/empty.gif");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
	width: 100%;
    height: 100%;
	filter: brightness(30%);
}
.image{
    height: 1000px;
}
.gif-text{
    /* font-size: 90%;
    font-family: 'Jost', sans-serif;
    font-style: italic;*/
	text-align: center;
	position: absolute; 
	top: 30vh;
}
.notfound{
    font-weight: 700;
    font-size: 1500%;
}

#empty{
    display: none;
}
.container-md input[type="number"]:hover {
	background: #0f5132;
	color: #ffffff;
    border-color: #0f5132;
}
.container-md input[type="submit"]:hover {
	background: #0f5132;
	color: #ffffff;
    border-color: #0f5132;
}
.col-1{
    padding-top: 45px;
}
.container-md b{
    font-size: large;
    font-weight: 500;
}
.delete form input{
    width: 20px;
    height: auto;
}
.header{
    padding: 10px;
}
/* .delete{
    margin-bottom: 0.5vw;
} */

.exit{
    width: 70%;
    height: auto;
}

.logo{
    width: 60%;
    height: auto;
}

.cart{
    width: 20%;
    height: auto;
}
