<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Yandex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Page</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
    <link rel="stylesheet" th:href="@{/lib/lightbox/css/lightbox.css}">
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/lightbox/js/lightbox.js}"></script>
    <script th:src="@{/lib/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/adminJs.js}"></script>
</head>
<body>

    <div class = "container-md">
        <center>
            <h1 class ="container-fluid">ВРЕМЯ ОЖИДАНИЯ ИСТЕКЛО</h1>
            <h3 class ="container-fluid">Пожалуйста, повторите ввод данных</h3>
            <form th:action="'/buy/'+${tgId}" th:method="GET" >
                <table><tr><td>
                            <input type = "submit" value = "Заказать"/>
                </td></tr></table>
            </form>
            <form th:action="'/buy/'+${tgId}" th:method="GET" >
                <table><tr><td>
                    <input type = "submit" value = "Закрыть"/>
                </td></tr></table>
            </form>
        </center>
    </div>

</body>
</html>